$nav-height: 40px;
$main-width: 650px;
$form-width: 360px;
$header-margin-bottom: 15px;
$footer-margin-top: 30px;
$main-min-height: calc(100% - #{$nav-height + $header-margin-bottom + $nav-height + $footer-margin-top});
$wrap-padding-x: 10px;

$body-fg-color: rgb(192, 201, 209);
$body-bg-color: #212b38;

$overlay-bg-color: rgba(84, 113, 142, 0.13);
$overlay-p-bg-color: #1b222c;
$overlay-p-border-color: rgba(0, 0, 0, 0.15);

$container-bg: #1b222c;
$container-border: 1px solid rgba(0, 0, 0, 0.15);
$container-border-radius: 4px;

$link-font-size: 10px;
$link-color: rgb(117, 137, 156);

$title-height: 27px;
$title-color: rgb(255, 255, 255);

$next-episode-width: 111px;

$button-font-size: 10px;
$button-fg-color: rgb(255, 255, 255);
$button-bg-color: rgb(93, 111, 129);
$button-hover-bg-color: rgba(93, 111, 129, 0.8);

$header-tab-padding-x: 15px;
$header-tab-font-size: 11px;
$header-tab-fg: rgba(255, 255, 255, 0.4);
$header-tab-hover-fg: rgba(255, 255, 255, 0.5);
$header-tab-active-fg: rgba(255, 255, 255, 0.7);
$header-logout-height: 20px;
$header-logout-font-size: 10px;

$input-height: 35px;
$input-margin: 20px;
$input-padding-x: 15px;
$input-padding-y: 5px;
$input-bg-color: #0c0f14;
$input-fg-color: rgb(255, 255, 255);
$input-disabled-fg-color: rgba(255, 255, 255, 0.5);
$input-active-border-color: rgba(0, 0, 0, 0.4);

$thumb-height: 140px;
$thumb-image-width: 99.65px;
$thumb-padding-right: 18px;
$thumb-margin-bottom: 10px;
$thumb-details-padding: ($title-height + 10px) 10px 10px $thumb-padding-right;
$thumb-border-radius: 10px;
$thumb-font-size: 12px;

$progress-bar-width: 5px;

$show-list-note-font-size: 13px;

$show-tag-inactive-bg-color: #485d79;
$show-tag-bg-color: #708aad;
$show-tag-height: 15px;
$show-tag-padding-x: 4px;
$show-filter-tag-height: 22px;
$show-filter-tag-padding-x: 8px;

$show-table-line-height: 26px;
$show-table-font-size: 11px;
$show-table-bg-color: #0d1621;
$show-table-fg-color: rgb(55, 69, 81);
$show-table-watched-episode-fg-color: rgba(255, 255, 255, 0.7);
$show-table-watched-season-fg-color: #9ca3af;
$show-table-unreleased-fg-color: rgba(236, 109, 105, 0.7);
$show-table-hover-fg-color: rgb(255, 255, 255);

$show-button-fg-color: rgba(206, 212, 218, 0.7);
$show-button-hover-fg-color: rgb(206, 212, 218);
$show-button-track-bg-color: #278051;
$show-button-untrack-bg-color: #91241d;
$login-button-bg-color: #485d79;
$login-button-hover-fg-color: #e2e7ed;
$login-button-hover-bg-color: #526989;

$tooltip-bg-color: #E4F0FF;
$tooltip-fg-color: #0B1D33;


@mixin fullscreen-fixed {
   position: fixed;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   padding: 0 $wrap-padding-x;
}
@mixin button {
   padding: 2px 4px;
   border-radius: 4px;
   font-size: $button-font-size;
   font-weight: 550;
   color: $show-button-fg-color;
   text-transform: uppercase;
   cursor: pointer;
}

/* GENERAL */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
::before,
::after {
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;

   &:active {
      color: inherit;
   }
}
li {
   list-style-type: none;
}
body {
   font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
   line-height: 1.5;
   cursor: default;
   color: $body-fg-color;
   background-color: $body-bg-color;
   letter-spacing: 0.5px;
}
header,
footer {
   letter-spacing: 0;
}
#app {
   background-color: inherit;
}
.invisible {
   visibility: hidden;
}
main {
   @include fullscreen-fixed;
}
* {
   user-select: none;
}

/* LOADER */

#app #overlay,
#preloader {
   position: fixed;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $overlay-bg-color;
   opacity: 0;
   z-index: -1;
   transition: opacity 100ms ease-in, z-index 100ms step-end;
}
#preloader {
  transition: opacity 400ms ease-in, z-index 400ms step-end;
}
#preloader::before {
  content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: $body-bg-color;
   z-index: -1;
}
#app.loading #overlay,
#app.message #overlay,
#app.loading + #preloader {
  opacity: 1;
  z-index: 11;
  transition: opacity 275ms ease, z-index 275ms step-start;
}
#overlay p {
   padding: 10px 15px;
   background-color: $overlay-p-bg-color;
   border: 1px solid $overlay-p-border-color;
   border-radius: 8px;
}
#app main {
   transition: filter 100ms ease;
}
#app.loading main,
#app.message main {
   filter: blur(1.5px);
   transition: filter 275ms ease;
}
#app.loading #overlay,
#preloader {
   cursor: wait;
}

/* INPUT */

.input {
   position: relative;
   height: $input-height;
   padding: $input-padding-y 0;
   z-index: 1;
   cursor: text;
}
.input input {
   display: block;
   width: calc(100% - $input-padding-x * 2);
   height: $input-height - $input-padding-y * 2;
   margin-left: $input-padding-x;
   border: none;
   background-color: transparent;
   color: $input-fg-color;
   cursor: inherit;

   &:focus {
      outline: none;
   }
   &:focus + .input-bg {
      border-color: $input-active-border-color !important;
   }
   &:-webkit-autofill,
   &:-webkit-autofill:hover,
   &:-webkit-autofill:focus,
   &:-webkit-autofill:active {
      -webkit-text-fill-color: $input-fg-color;
      -webkit-box-shadow: none !important;
      caret-color: $input-fg-color;
      box-shadow: 0 0 0 100px $input-bg-color inset !important;
   }
}
.input .input-bg {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: $input-height;
   border-radius: $input-height;
   border: 2px solid black !important;
   background-color: $input-bg-color;
   z-index: -1;
}
.input label {
   cursor: inherit;
}
.input label span {
   position: absolute;
   z-index: -500;
}

/* HEADER */

header {
   height: $nav-height;
   line-height: $nav-height;
   margin-bottom: $header-margin-bottom;
   text-align: center;
   font-size: $header-tab-font-size;
   letter-spacing: 0;
   z-index: 2;
}
header nav {
   position: relative;
   max-width: $main-width;
   margin: 0 auto;
}
header nav .tab {
   display: inline-block;
   padding: 0 $header-tab-padding-x;
   vertical-align: top;
   text-transform: uppercase;
   color: $header-tab-fg;

   &:hover {
      color: $header-tab-hover-fg;
   }
   &.selected {
      color: $header-tab-active-fg;
   }
}
header nav .logout {
   position: absolute;
   right: 0;
   line-height: $header-logout-height;
   margin: calc(($nav-height - $header-logout-height) / 2) 0;
   padding: 0 3px;
   font-size: $header-logout-font-size;
   cursor: pointer;
   color: $header-tab-fg;

   &:hover {
      color: $header-tab-hover-fg;
   }
}

/* FOOTER */

footer {
   height: $nav-height;
   line-height: $nav-height;
   margin: $footer-margin-top (-$wrap-padding-x) 0;
   text-align: center;
   border-top: $container-border;
   font-size: $link-font-size;
   color: $link-color;
}

/* SHOW LIST */

#tracked-shows,
#search-shows {
   max-width: $main-width;
   min-height: $main-min-height;
   margin: 0 auto;
}
#search-shows .input {
   max-width: $main-width;
   margin: 0 auto;
   margin-bottom: 15px;
}
.suspended #search-shows .input {
   cursor: not-allowed;

   input {
      color: $input-disabled-fg-color;
   }
}
.show-list-note {
   padding-top: 5px;
   text-align: center;
   font-size: $show-list-note-font-size;
}
.tag {
   padding: 0 $show-tag-padding-x;
   line-height: $show-tag-height;
   border-radius: 50px;
   text-transform: uppercase;
   text-overflow: "...";
   white-space: nowrap;
   overflow: hidden;
   font-size: 10px;
   font-weight: bold;
   background-color: $show-tag-bg-color;
   color: $container-bg;
}
.filter-tags {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   margin-bottom: 15px;

   .tag {
      padding: 0 $show-filter-tag-padding-x;
      line-height: $show-filter-tag-height;
      border: 2px solid;
      background-color: $show-tag-inactive-bg-color;

      &.active {
         background-color: $show-tag-bg-color;
      }
   }
}
.show-tags {
   position: absolute;
   top: 110px;
   left: 118px;
   right: 20px;
   display: flex;
   gap: 5px;
}

.show {
   box-sizing: content-box;
   position: relative;
   height: auto;
   margin-bottom: $thumb-margin-bottom;
   font-size: $thumb-font-size;
   background-color: $container-bg;
   border: $container-border;
   border-radius: $thumb-border-radius;
   overflow: hidden;
   padding-right: $progress-bar-width;

   &:hover {
      opacity: 0.95;
   }
   p {
      text-overflow: "...";
      white-space: nowrap;
      overflow: hidden;
   }
   .title {
      position: absolute;
      top: 10px;
      left: $thumb-image-width + $thumb-padding-right;
      right: 20px;
      line-height: $title-height;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      color: $title-color;
   }
   .years {
      opacity: 0.7;
   }
   .show-image {
      position: absolute;

      img {
         max-height: $thumb-height;
         min-height: $thumb-height;
         z-index: 1;
      }
      .imdb {
         position: absolute;
         top: 0;
         left: 0;
         width: $thumb-image-width;
         height: $thumb-height;
         display: flex;
         justify-content: center;
         align-items: center;
         opacity: 0;
         z-index: 1;
         transition: all 80ms ease;

         svg {
            width: 36px;
         }

         &:hover {
            background-color: rgba(0,0,0,.7);
            opacity: 1;
         }
      }
   }
   .show-details {
      height: $thumb-height;
      margin-left: $thumb-image-width;
      margin-right: $next-episode-width + 30px;
      padding: $thumb-details-padding;

      .show-next-episode {
         position: absolute;
         right: 20px;
         top: 38px;
         display: flex;
         height: 55px;
         padding: 15px 10px 5px;
         font-size: 30px;
         font-family: "Roboto Mono";
         font-weight: normal;
         cursor: pointer;
         transition: opacity 50ms ease;

         &:active {
            opacity: 0.1;
         }
         &.disabled {
            opacity: 0.5;
         }

         span {
            opacity: 0.7;
         }
         .label {
            position: absolute;
            top: 0px;
            width: $next-episode-width;
            text-align: center;
            font-size: 13px;
            letter-spacing: 1.2px;
         }
      }
      .track-button {
         position: absolute;
         right: 31px;
         padding: 4px 0;
         text-transform: uppercase;
         top: 57px;
         border-radius: 6px;
         font-size: 13px;
         width: 108px;
         text-align: center;
      }
   }
   .show-episodes {
      position: relative;
      display: grid;
      width: 100%;
      line-height: $show-table-line-height;
      text-align: center;
      font-size: $show-table-font-size;
      font-weight: bold;
      letter-spacing: 0;
      color: $show-table-fg-color;
      background-color: $show-table-bg-color;

      .cell.season {
         font-weight: 500;
      }
      .cell.season.watched {
         color: $show-table-watched-season-fg-color;
      }
      .cell.episode.watched {
         color: $show-table-watched-episode-fg-color;
      }
      .cell.season.unreleased,
      .cell.episode.unreleased {
         color: $show-table-unreleased-fg-color;
      }
      .cell.episode:not(.unreleased) {
         cursor: pointer;
      }
      .cell.episode:not(.unreleased):hover {
         color: $show-table-hover-fg-color;
      }
      .cell.episode:not(.unreleased):active {
         opacity: 0.5;
      }
   }
   .show-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      background-color: $show-table-bg-color;
   }
   .show-progress {
      z-index: 10;

      &,
      span {
         position: absolute;
         right: 0;
         bottom: 0;
         height: 100%;
         width: $progress-bar-width;
         transition: height 100ms ease-out;
      }
   }
   .track-button {
      @include button;

      background-color: $show-button-track-bg-color;

      &:hover {
         color: $show-button-hover-fg-color;
      }
   }
   &.tracked .track-button {
      background-color: $show-button-untrack-bg-color;
   }
}


/* LOGIN FORM */

#login,
#register {
   max-width: $form-width;
   min-height: $main-min-height;
   margin: 0 auto;
   text-align: center;

   form {
      overflow: auto;
      border: $container-border;
      border-radius: $container-border-radius;
      background-color: $container-bg;
   }
   form .input {
      margin: $input-margin;
      margin-bottom: $input-margin - 5px;

      &:first-child {
         margin-bottom: 15px;
      }
      & + .input {
         margin-top: 0;
      }
   }
   form .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $input-height;
      border-top: $container-border;
   }
   form .submit .button {
      @include button;

      padding: 3px 6px;
      border-radius: 5px;
      font-size: 11px;
      background-color: $login-button-bg-color;

      &:hover {
         background-color: $login-button-hover-bg-color;
         color: $login-button-hover-fg-color;
      }
   }
}

/* TOOLTIP */
.v-popper--theme-tooltip {
   transition: none !important;

   .v-popper__inner {
      background-color: $tooltip-bg-color !important;
      color: $tooltip-fg-color !important;
      padding: 3px 5px !important;
      font-size: 14px !important;
      text-align: center;
   }
   .v-popper__arrow-outer {
      border-color: $tooltip-bg-color !important;
   }
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
   .show {
      .show-details {
         margin-right: 0;

         .show-next-episode,
         .track-button {
            display: none;
         }
      }
      .show-episodes {
         font-size: $show-table-font-size - 1px;
         letter-spacing: -1px;
      }
   }
}
